body {
    font-family: 'Nunito Sans', sans-serif;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
} 
header {
    border-bottom: 1px solid #DEDEDE;
}   
.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 29px  0 22px;
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
    }
.header-nav {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    gap: 46px;
}
.header-nav a {
    font-weight: 600;
    font-size: 20px;
    color: #443737;
    text-decoration: none;
}
.header-nav a:hover {
    color: #FFC725;
}
.header-nav a::after {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background: transparent;
    display: block;
}
.header-nav a.active::after {
    background: #FFC725;
}
.button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;
}
.button-item {
    position: relative;
}
.button-count {
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    background: #F37335;
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    bottom: 3px;
    right: -4px;
}
.button-text {
    color: #443737;
    font-weight: 700;
    font-size: 15px;
}
.bg {
    text-align: center;
    color: #FFFFFF;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 142px 0;
    margin-bottom: 140px;
}
.breadcrumbs {
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 7px;
}
.breadcrumbs a {
    color: #DEDEDE;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.breadcrumbs a:hover {
    color: #FFC725;
}
.breadcrumbs a::before {
    content: '/';
    position: relative;
    left: -3px;
    pointer-events: none;
}
.breadcrumbs a:hover::before {
    color: #DEDEDE;
}
.breadcrumbs li:first-child a::before {
    display: none;
}
.title {
    font-weight: 700;
    font-size: 79px;
    margin-top: 16px;
    margin-bottom: 21px;
}
.discrition {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
}
.banner-box {
    background-image: url(../images/img.jpg);
    background-position: center center;
    padding: 100px;
    margin-bottom: 100px;
}
.banner-title {
    margin: 0 0 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 76px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.banner-title span {
    display: block;
    width: 95px;
    height: 28px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3px;
    background: #F37335;
    border-radius: 14px;
    font-weight: 600;
    font-size: 14px;
    line-height: 190%;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
}
.banner-text {
    margin: 0 0 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    color: #FAF9F9;
    max-width: 329px;
}
.banner-link {
    display: block;
    background-color: #FBB731;
    color: #1E2F40;
    width: 170px;
    height: 56px;
    border-radius: 4px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 58px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}